<!--
  ~
  ~ di.xml
  ~
  ~ This file is part of Foobar.
  ~
  ~ {module_name} is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ {module_name} is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with {module_name}.  If not, see <https://www.gnu.org/licenses/>.
  ~
  ~ @category   Pr00xxy
  ~ @package    {package_name}
  ~ @author     Hampus Westman <hampus.westman@gmail.com>
  ~ @copyright  Copyright (c) 2020 Hampus Westman
  ~ @license    https://www.gnu.org/licenses/gpl-3.0.html  GPLv3.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

   <!-- Virtual filterStatuses START -->

   <virtualType name="PrOOxxy\SpamFilter\Virtual\ContactFormFilterStatus" type="PrOOxxy\SpamFilter\Model\SpamFilterStatus">
      <arguments>
         <argument name="scope" xsi:type="string">contact_form</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\AccountCreateFilterStatus" type="PrOOxxy\SpamFilter\Model\SpamFilterStatus">
      <arguments>
         <argument name="scope" xsi:type="string">account_create</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\NewsletterFilterStatus" type="PrOOxxy\SpamFilter\Model\SpamFilterStatus">
      <arguments>
         <argument name="scope" xsi:type="string">newsletter_signup</argument>
      </arguments>
   </virtualType>

   <!-- Virtual filterStatuses STOP -->

   <!-- Virtual Validators START -->

   <virtualType name="PrOOxxy\SpamFilter\Virtual\AccountCreateValidator" type="PrOOxxy\SpamFilter\Model\Validator\DefaultValidator">
      <arguments>
         <argument name="scope" xsi:type="string">account_create</argument>
         <argument name="status" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormFilterStatus</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\ContactFormValidator" type="PrOOxxy\SpamFilter\Model\Validator\DefaultValidator">
      <arguments>
         <argument name="scope" xsi:type="string">contact_form</argument>
         <argument name="status" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormFilterStatus</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\NewsletterSignupValidator" type="PrOOxxy\SpamFilter\Model\Validator\DefaultValidator">
      <arguments>
         <argument name="scope" xsi:type="string">newsletter_signup</argument>
         <argument name="status" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormFilterStatus</argument>
      </arguments>
   </virtualType>

   <!-- Virtual Validators STOP -->

   <type name="PrOOxxy\SpamFilter\Model\Blocker\ContactFormBlocker">
      <arguments>
         <argument name="validator" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormValidator</argument>
         <argument name="filterStatus" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormFilterStatus</argument>
      </arguments>
   </type>

   <type name="PrOOxxy\SpamFilter\Model\Blocker\AccountCreateBlocker">
      <arguments>
         <argument name="validator" xsi:type="object">PrOOxxy\SpamFilter\Virtual\AccountCreateValidator</argument>
         <argument name="filterStatus" xsi:type="object">PrOOxxy\SpamFilter\Virtual\AccountCreateFilterStatus</argument>
      </arguments>
   </type>

   <type name="PrOOxxy\SpamFilter\Model\Blocker\NewsletterBlocker">
      <arguments>
         <argument name="validator" xsi:type="object">PrOOxxy\SpamFilter\Virtual\NewsletterSignupValidator</argument>
         <argument name="filterStatus" xsi:type="object">PrOOxxy\SpamFilter\Virtual\NewsletterFilterStatus</argument>
      </arguments>
   </type>

</config>
