<!--
  ~ Copyright © Hampus Westman 2021
  ~ See LICENCE provided with this module for licence details
  ~
  ~ @author     Hampus Westman <hampus.westman@gmail.com>
  ~ @copyright  Copyright (c) 2021 Hampus Westman
  ~ @license    MIT License https://opensource.org/licenses/MIT
  ~ @link       https://github.com/Pr00xxy
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

   <!-- Virtual filterStatuses START -->

   <virtualType name="PrOOxxy\SpamFilter\Virtual\ContactFormStatus" type="PrOOxxy\SpamFilter\Model\SpamFilterStatus">
      <arguments>
         <argument name="scope" xsi:type="string">contact_form</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\AccountCreateStatus" type="PrOOxxy\SpamFilter\Model\SpamFilterStatus">
      <arguments>
         <argument name="scope" xsi:type="string">account_create</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\NewsletterStatus" type="PrOOxxy\SpamFilter\Model\SpamFilterStatus">
      <arguments>
         <argument name="scope" xsi:type="string">newsletter_signup</argument>
      </arguments>
   </virtualType>

   <!-- Virtual filterStatuses STOP -->

   <!-- Virtual ValidatorBuilders START -->

   <virtualType name="PrOOxxy\SpamFilter\Virtual\AccountCreateValidatorBuilder" type="PrOOxxy\SpamFilter\Model\ValidatorBuilder">
      <arguments>
         <argument name="status" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormStatus</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\ContactFormValidatorBuilder" type="PrOOxxy\SpamFilter\Model\ValidatorBuilder">
      <arguments>
         <argument name="status" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormStatus</argument>
      </arguments>
   </virtualType>

   <virtualType name="PrOOxxy\SpamFilter\Virtual\NewsletterValidatorBuilder" type="PrOOxxy\SpamFilter\Model\ValidatorBuilder">
      <arguments>
         <argument name="status" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormStatus</argument>
      </arguments>
   </virtualType>

   <!-- Virtual ValidatorBuilders STOP -->

   <type name="PrOOxxy\SpamFilter\Model\Rules\ContactForm">
      <arguments>
         <argument name="validatorBuilder" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormValidatorBuilder</argument>
         <argument name="filterStatus" xsi:type="object">PrOOxxy\SpamFilter\Virtual\ContactFormStatus</argument>
      </arguments>
   </type>

   <type name="PrOOxxy\SpamFilter\Model\Rules\AccountCreate">
      <arguments>
         <argument name="validatorBuilder" xsi:type="object">PrOOxxy\SpamFilter\Virtual\AccountCreateValidatorBuilder</argument>
         <argument name="filterStatus" xsi:type="object">PrOOxxy\SpamFilter\Virtual\AccountCreateStatus</argument>
      </arguments>
   </type>

   <type name="PrOOxxy\SpamFilter\Model\Rules\Newsletter">
      <arguments>
         <argument name="validatorBuilder" xsi:type="object">PrOOxxy\SpamFilter\Virtual\NewsletterValidatorBuilder</argument>
         <argument name="filterStatus" xsi:type="object">PrOOxxy\SpamFilter\Virtual\NewsletterStatus</argument>
      </arguments>
   </type>

</config>
